html {
  font-size: 16px;
}

body {
  background-color: black;
}

h1, h2, h3, h4 {
  color: rgba(168, 168, 168, 1);
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
}

p, ul li, a {
  color: rgba(168, 168, 168, 1);
  letter-spacing: 1px;
  font-size:
}

nav li a, .tab-pane li, p {
  font-family: 'Russo One', sans-serif;
}

.nav-link {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
}

.navbar {
position: relative;
margin: auto;
}

.btn {
  padding: 12px, 24px;
  font-size: 1.5rem;
}

.truegrit {
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.jumbotron .truegrit {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
}

.truegrit:hover {
  color: #660000;
}

.jumbotron {
background: url("../images/jumbotron.jpg");
background-position: top;
background-repeat:no-repeat;
background-color: black;
background-size: contain;
position: relative;
}

.well {
  background-color: rgba(168, 168, 168, 0.14);
  border: 0px;
  color: white;
}

.margin {
  margin-top: 200px;
}

.btn-danger {
  background-color: #660000;
  border-color: #000;
}

.nav-tabs {
  margin-top: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: rgba(168, 168, 168, 0.14);
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight:bolder;
}

.centermargin {
  margin: 0 auto;
}

.float-right {
  float: right;
  max-width: 300px;
  height: auto;
}

footer h5 {
  font-family: 'Russo One', sans-serif;
  color: rgba(168, 168, 168, 1);
  letter-spacing: 1px;
}

footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.clear-right {
  clear: right;
}

@media only screen and (max-width:991px) {
  .jumbotron .container {
    margin: auto;
  }
  .jumbotron .truegrit {
    font-size: 2rem;
  }
  .jumbotron {
    height: 300px;
    padding-top: 150px;
  }

@media only screen and (max-width:767px) {
  .jumbotron {
    height: 300px;
    padding-top: 110px;
    margin-bottom: -30px;
  }

  .nav-tabs>li>a {
      padding: 8px 10px;
      font-size: 1rem;
    }
    .hideimg {
      display: none;
    }
  }
